@model List<Product>
@{
    ViewData["Title"] = "Home";
}
<script src="~/js/Banner.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-2 text-center">
            <p class="title">Welcome to ShopWave</p>
            <form method="get" action="/products">
                <input type="hidden" readonly value="1" name="page" />
                <div class="input-group mb-3">
                    <input type="text" class="form-control custom-input limited" name="name" placeholder="Search for products..." aria-label="Search" aria-describedby="search-button">
                    <div class="input-group-append">
                        <button class="btn custom-button" type="submit" id="search-button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


<div class="container mt-0">
    <div class="row">
        <div class="col-md-12">
            <img src="/img/main_ru.webp" alt="E-commerce Banner" id="bannerImage" class="img-fluid" style="border-radius: 20px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);">
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mt-5 title text-secondary">Explore Categories</h2>
            <div class="category-scroll">
                <div class="category-card">
                    <a href="#">
                    <i class="fas fa-laptop fa-4x"></i>
                    <p class="category-title">Electronic</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <i class="fas fa-paw fa-4x"></i>
                        <p class="category-title">For animals</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <i class="fas fa-utensils fa-4x"></i>
                        <p class="category-title">Food</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="/products?category=Gaming">
                        <i class="fas fa-gamepad fa-4x"></i>
                        <p class="category-title">Gaming</p>
                    </a>
                </div>

                <div class="category-card">
                    <a href="#">
                        <i class="fas fa-heartbeat fa-4x"></i>
                        <p class="category-title">Heath</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <i class="fas fa-home fa-4x"></i>
                        <p class="category-title">For house</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <i class="fas fa-child fa-4x"></i>
                        <p class="category-title">For kids</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <i class="fas fa-briefcase fa-4x"></i>
                        <p class="category-title">Office</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <i class="fas fa-shoe-prints fa-4x"></i>
                        <p class="category-title">Shoes</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <i class="fas fa-dumbbell fa-4x"></i>
                        <p class="category-title">Sport</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <i class="fas fa-tshirt fa-4x"></i>
                        <p class="category-title">Clothes</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <i class="fas fa-car fa-4x"></i>
                        <p class="category-title">Transport</p>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 50px;">
    <h3 class="title text-secondary" style="margin-left: 3px;">Newest products:</h3>
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-6 col-lg-4 col-xl-3">
                <div class="card mb-2">
                    <div class="card__top">
                        <a href="details/@product.ProductId" class="card__image">
                            <img loading="lazy" src="data:image/webp;base64, @product.ProductImages.FirstOrDefault()?.Data" alt="@product.ProductName">
                        </a>
                        @if (product.ProductDate > DateTime.Now.Date.AddDays(-10))
                        {
                            <div class="card__label">new</div>
                        }
                    </div>
                    <div class="card__bottom">
                        <div class="card__prices">
                            <div class="card__price card__price--discount">@product.ProductVariations.FirstOrDefault().price</div>
                        </div>
                        <a href="details/@product.ProductId" class="card__title">
                            <span class="truncate-text">
                                @product.ProductName
                            </span>
                        </a>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <i class="fas fa-star text-warning"></i>
                                <p class="text-secondary fw-bold mt-1 ms-1">@product.AvgStars</p>
                            </div>
                            <p class="text-secondary">@product.OrderCounts orders</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@if (TempData["ShowAlert"] as bool? == true)
{
    <script>
        Swal.fire({
            title: 'Successful authorization',
            text: 'You are successfully authorized!',
            icon: 'success',
            showConfirmButton: true,
            confirmButtonText: 'Close',
            timer: 4000,
            timerProgressBar: true,
        });
    </script>
}
