@model List<Product>
@{
    ViewData["Title"] = "Home";
}
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-2 text-center">
            <p class="title">Welcome to ShopWave</p>
            <form method="get" action="/search">
                <div class="input-group mb-3">
                    <input type="text" class="form-control custom-input" placeholder="Search for products..." aria-label="Search" aria-describedby="search-button">
                    <div class="input-group-append">
                        <button class="btn custom-button" type="submit" id="search-button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container mt-0">
    <div class="row">
        <div class="col-md-12">
            <img src="/img/main_ru.png" alt="E-commerce Banner" id="bannerImage" class="img-fluid shadow" style="border-radius: 20px;">
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mt-5 title">Explore Categories</h2>
            <div class="category-scroll">
                <div class="category-card">
                    <a href="#">
                    <img src="/img/electronicIco.png" alt="Category 1" class="category-icon">
                    <p class="category-title">Electronic</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <img src="/img/animalIco.png" alt="Category 1" class="category-icon">
                        <p class="category-title">For animals</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <img src="/img/beautyIco.png" alt="Category 1" class="category-icon">
                        <p class="category-title">Beauty</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <img src="/img/foodIco.png" alt="Category 1" class="category-icon">
                        <p class="category-title">Food</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <img src="/img/gamingIco.png" alt="Category 1" class="category-icon">
                        <p class="category-title">Gaming</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <img src="/img/healthIco.png" alt="Category 1" class="category-icon">
                        <p class="category-title">Heath</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <img src="/img/houseIco.png" alt="Category 1" class="category-icon">
                        <p class="category-title">For house</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <img src="/img/kidsIco.png" alt="Category 1" class="category-icon">
                        <p class="category-title">For kids</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <img src="/img/penIco.png" alt="Category 1" class="category-icon">
                        <p class="category-title">Office</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <img src="/img/shoesIco.png" alt="Category 1" class="category-icon">
                        <p class="category-title">Shoes</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <img src="/img/sportIco.png" alt="Category 1" class="category-icon">
                        <p class="category-title">Sport</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <img src="/img/clothsIco.png" alt="Category 1" class="category-icon">
                        <p class="category-title">Clothes</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <img src="/img/transportIco.png" alt="Category 1" class="category-icon">
                        <p class="category-title">Transport</p>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 50px;">
    <h3 style="margin-left: 3px;">New products:</h3>
    <div class="row">
        @foreach (var product in Model.Take(28))
        {
            for (int i = 0; i < 24; i++)
            {
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="card mb-2">
                        <div class="card__top">
                            <!-- Изображение-ссылка товара -->
                            <a href="#" class="card__image">
                                <img src="data:image/jpeg;base64, @product.ProductImages.FirstOrDefault()?.Images.Data" alt="@product.ProductName">
                            </a>
                            <!-- Скидка на товар -->
                            <div class="card__label">-10%</div>
                        </div>
                        <!-- Нижняя часть -->
                        <div class="card__bottom">
                            <!-- Цены на товар (с учетом скидки и без)-->
                            <div class="card__prices">
                                <div class="card__price card__price--discount">135 000</div>
                            </div>
                            <!-- Ссылка-название товара -->
                            <a href="#" class="card__title">
                                Смартфон Apple IPhone 14 Pro Max 256Gb, золотой
                            </a>
                            <!-- Кнопка добавить в корзину -->
                            <button class="card__add">В корзину</button>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>


@* @foreach (var product in Model)
{
    <div>
        <h3>@product.ProductName</h3>
        <p>@product.Description</p>
        <div class="product-images">
            @foreach (var productImage in product.ProductImages)
            {
                <img src="data:image/jpeg;base64, @productImage.Images.Data" alt="@product.ProductName">
            }
        </div>
    </div>
}
 *@