@model List<Product>
@{
    ViewData["Title"] = "Home";
}
<script src="~/js/Banner.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-2 text-center">
            <p class="title">Welcome to ShopWave</p>
            <form method="get" action="/products">
                <div class="input-group mb-3">
                    <input type="text" class="form-control custom-input limited" name="name" placeholder="Search for products..." aria-label="Search" aria-describedby="search-button">
                    <div class="input-group-append">
                        <button class="btn custom-button" type="submit" id="search-button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


<div class="container mt-0">
    <div class="row">
        <div class="col-md-12">
            <img src="/img/main_ru.png" alt="E-commerce Banner" id="bannerImage" class="img-fluid shadow" style="border-radius: 20px;">
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mt-5 title">Explore Categories</h2>
            <div class="category-scroll">
                <div class="category-card">
                    <a href="#">
                    <img src="/img/electronicIco.png" alt="Category 1" class="category-icon">
                    <p class="category-title">Electronic</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <img src="/img/animalIco.png" alt="Category 1" class="category-icon">
                        <p class="category-title">For animals</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <img src="/img/beautyIco.png" alt="Category 1" class="category-icon">
                        <p class="category-title">Beauty</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <img src="/img/foodIco.png" alt="Category 1" class="category-icon">
                        <p class="category-title">Food</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="/products?category=Gaming">
                        <img src="/img/gameIco.png" alt="Category 1" class="category-icon">
                        <p class="category-title">Gaming</p>
                    </a>
                </div>

                <div class="category-card">
                    <a href="#">
                        <img src="/img/healthIco.png" alt="Category 1" class="category-icon">
                        <p class="category-title">Heath</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <img src="/img/houseIco.png" alt="Category 1" class="category-icon">
                        <p class="category-title">For house</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <img src="/img/kidsIco.png" alt="Category 1" class="category-icon">
                        <p class="category-title">For kids</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <img src="/img/penIco.png" alt="Category 1" class="category-icon">
                        <p class="category-title">Office</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <img src="/img/shoesIco.png" alt="Category 1" class="category-icon">
                        <p class="category-title">Shoes</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <img src="/img/sportIco.png" alt="Category 1" class="category-icon">
                        <p class="category-title">Sport</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <img src="/img/clothsIco.png" alt="Category 1" class="category-icon">
                        <p class="category-title">Clothes</p>
                    </a>
                </div>
                <div class="category-card">
                    <a href="#">
                        <img src="/img/transportIco.png" alt="Category 1" class="category-icon">
                        <p class="category-title">Transport</p>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 50px;">
    <h3 style="margin-left: 3px;">New products:</h3>
    <div class="row">
        @foreach (var product in Model.Take(28))
        {
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="card mb-2">
                        <div class="card__top">
                            <a href="#" class="card__image">
                                <img src="data:image/jpeg;base64, @product.ProductImages.FirstOrDefault()?.Data" alt="@product.ProductName">
                            </a>
                            @if (product.sale > 0)
                            {
                                <div class="card__label">@product.sale%</div>
                            }
                            else
                            {
                                
                            }
                        </div>
                        <!-- Нижняя часть -->
                        <div class="card__bottom">
                            <!-- Цены на товар (с учетом скидки и без)-->
                            <div class="card__prices">
                            @{
                                decimal? price = @product.ProductVariations.FirstOrDefault()?.price;
                                if (product.sale > 0) price = price - ((price * product.sale)/100);
                            }
                                <div class="card__price card__price--discount">@price</div>
                            </div>
                            <a href="#" class="card__title">
                                @product.ProductName
                            </a>
                            <button class="card__add">Add to card</button>
                        </div>
                    </div>
                </div>
        }
    </div>
</div>

@if (TempData["ShowAlert"] as bool? == true)
{
    <script>
        Swal.fire({
            title: 'Successful authorization',
            text: 'You are successfully authorized!',
            icon: 'success',
            showConfirmButton: true,
            confirmButtonText: 'Close',
            timer: 4000,
            timerProgressBar: true,
        });
    </script>
}
