@{
    ViewData["Title"] = "Edit product info";
}
@model EditProductViewModel
<style>
    .card {
        max-width: 800px;
        margin: 0 auto;
    }
</style>
<div class="container mt-4">
    <div class="card mb-4">
        <div class="card-body">
            <h3 class="text-primary text-center mb-2 fw-bold">Edit rimary product data</h3>
            <form action="/seller/updateinfo" method="post">
                <div class="row gx-3 mb-3">
                    <div class="col-md-6 mb-3">
                        <label class="small mb-1 text-secondary">
                            <i class="fas fa-cube"></i> Product Name
                        </label>
                        <input required minlength="10" maxlength="100" class="form-control" type="text" placeholder="Enter product name" value="@Model.Name" asp-for="Name">
                    </div>

                    <div class="col-md-6">
                        <label class="small mb-1 text-secondary">
                            <i class="fas fa-info-circle"></i> Product Description
                        </label>
                        <textarea required minlength="50" maxlength="800" class="form-control" type="text" placeholder="Product Description" asp-for="Description">@Model.Description</textarea>
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6 mb-3">
                        <label class="small mb-1 text-secondary" for="inputLocation">
                            Category
                        </label>
                        <select required class="form-select" id="CategoryId" onchange="updateInputValue(this, 'CT')">
                            <option value="">Select Category</option>
                            @foreach (var item in Model.categories)
                            {
                                if (item.CategoryId == Model.CategoryId)
                                {
                                    <option selected="selected" value="@item.CategoryId">@item.CategoryName</option>
                                }
                                else
                                {
                                    <option value="@item.CategoryId">@item.CategoryName</option>
                                }
                            }
                        </select>
                        <input type="text" hidden class="w-100" id="CT" required asp-for="CategoryId">
                        <input type="hidden" readonly value="@Model.Id" asp-for="Id"/>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Submit form</button>

            </form>
        </div>
    </div>
</div>
<script>
    function updateInputValue(selectElement, inputId) {
        var inputElement = document.getElementById(inputId);
        var selectedOption = selectElement.options[selectElement.selectedIndex];
        inputElement.value = selectedOption.value;
    }

    window.onload = function () {
        var selectElement = document.getElementById("CategoryId");
        updateInputValue(selectElement, "CT");
    }
</script>