@model Product

@{
    ViewData["Title"] = "Product Details";
}
@using Microsoft.AspNetCore.Identity
<link rel="stylesheet" href="~/css/details.css" />
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4">
                                <img id="main-image" src="data:image/png;base64, @Model.ProductImages.FirstOrDefault()?.Data" width="250" />
                            </div>
                            <div class="thumbnail text-center mt-2">
                                @foreach (var image in Model.ProductImages)
                                {
                                    <img onclick="change_image(this)" src="data:image/png;base64, @image.Data">
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <button class="btn btn-secondary" onclick="goBack()">
                                        <i class="fas fa-arrow-left">
                                        </i>
                                        <span style="margin-left: 5px;">Back</span>
                                    </button>
                                    <script>
                                        function goBack() {
                                            window.history.back();
                                        }
                                    </script>
                                </div>
                                <a href="/mycart">
                                    <i class="fa fa-shopping-cart text-muted"></i>
                                </a>
                            </div>
                            <div class="mt-4 mb-3">
                                <span class="text-uppercase text-muted brand">ProductId: @Model.ProductId</span>
                                <h5 class="text-uppercase">@Model.ProductName</h5>
                                <div class="price d-flex flex-row align-items-center">
                                    <p>Price:</p>
                                    <span class="act-price" id="product-price"></span>
                                </div>
                                <div class="d-flex flex-row align-items-center">
                                    <p class="text-secondary">Quantity:</p>
                                    <span class="act-price text-secondary" id="product-quantity"></span>
                                </div>
                                <div class="d-flex flex-row align-items-center">
                                    <p class="text-secondary">Order count:</p>
                                    <span class="act-price text-secondary">@Model.OrderCounts</span>
                                </div>

                                <div class="d-flex flex-row align-items-center mt-2">
                                    <div class="stars d-flex">
                                        @{
                                            byte filledStars = (byte)Math.Floor(Model.AvgStars);
                                            byte remainingHalfStar = (byte)((Model.AvgStars - filledStars >= 0.5m) ? 1 : 0);
                                            byte emptyStars = (byte)(5 - filledStars - remainingHalfStar);
                                        }

                                        @for (byte i = 0; i < filledStars; i++)
                                        {
                                            <i class="fas fa-star text-warning"></i>
                                        }
                                        @if (remainingHalfStar > 0)
                                        {
                                            <i class="fas fa-star-half-alt text-warning"></i>
                                        }
                                        @for (byte i = 0; i < emptyStars; i++)
                                        {
                                            <i class="far fa-star text-warning"></i>
                                        }
                                    </div>
                                    <p class="text-muted fw-bold ms-2">@Model.AvgStars</p>
                                </div>



                            </div>
                            <div class="sizes mt-5">
                                <h6 class="text-uppercase">Variations</h6>
                                @foreach (var variation in Model.ProductVariations)
                                {
                                    <label class="radio mb-1">
                                        <input type="radio" name="VariationId" value="@variation.VariationId" data-price="@variation.price" data-quantity="@variation.quantity" @if (variation == Model.ProductVariations.FirstOrDefault())
                                        {
                                            <text>checked="checked"</text>
                                        }>
                                        <span>@variation.VariationName</span>
                                    </label>
                                }
                            </div>
                            <div class="cart mt-4 align-items-center">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a href="#" class="btn btn-danger text-uppercase mr-2 px-4" onclick="addToCart()">
                                        <i class="fa fa-shopping-cart text-white"></i>Add to cart
                                    </a>
                                }
                                else
                                {
                                    <a href="/login" class="btn btn-danger text-uppercase mr-2 px-4">
                                        <i class="fa fa-shopping-cart text-white"></i>Add to cart
                                    </a>
                                }

                                <input type="hidden" asp-for="ProductId" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card custom-card">
                <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                            <i class="fas fa-file-alt cas"></i>Description
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                            <i class="fas fa-comment cas"></i>Reviews
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                            <i class="fas fa-truck cas"></i>Delivery
                        </button>
                    </li>
                </ul>
                <div class="card-body custom-tab-content text-secondary">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <h2 class="text-primary mb-2">@Model.ProductName description</h2>
                            @Html.Raw(Model.Description.Replace("\n", "<br/>"))
                        </div>


                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <h2 class="text-primary mb-2">Product reviews:</h2>
                            @foreach (var review in Model.Reviews)
                            {
                                if (review.Avatar != "")
                                {
                                    <img class="avatar" src="data:image/webp;base64, @review.Avatar" />
                                }
                                else
                                {
                                    <img class="avatar" src="/img/userIcon.webp" />
                                }
                                <div class="comment pb-4">
                                    <div class="stars">
                                        @for (byte i = 0; i < review.NumOfStarts; i++)
                                        {
                                            <span class="star text-warning">★</span>
                                        }
                                        @for (byte i = review.NumOfStarts; i < 5; i++)
                                        {
                                            <span class="star text-secondary">★</span>
                                        }
                                    </div>
                                    <p class="comment-text">@review.ReviewText</p>
                                </div>
                            }
                        </div>


                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                            <div class="row">
                                <div>
                                    <h2><i class="fas fa-shipping-fast text-primary"></i> Our Deliveries</h2>
                                    <p>We take pride in our outstanding delivery services that have made us leaders in the industry. Here's why we're exceptional and why you can always rely on us:</p>
                                    <ul>
                                        <li><i class="fas fa-check-circle fa-sm text-success"></i> Instant delivery to Moldova, the USA, China, Ukraine, and many more countries.</li>
                                        <li><i class="fas fa-check-circle fa-sm text-success"></i> High reliability - your order will always be delivered on time.</li>
                                        <li><i class="fas fa-check-circle fa-sm text-success"></i> A wide range of delivery options to meet your needs.</li>
                                        <li><i class="fas fa-check-circle fa-sm text-success"></i> Professional couriers and secure packaging for the safety of your order.</li>
                                        <li><i class="fas fa-check-circle fa-sm text-success"></i> Transparent order tracking at every stage of delivery.</li>
                                    </ul>
                                </div>
                                <div class="mt-4">
                                    <h2><i class="fas fa-globe text-primary"></i> Available Countries</h2>
                                    <p>We take pride in delivering goods to various corners of the world. Here are some of the countries we deliver to:</p>
                                    <ul>
                                        <li><i class="fas fa-globe-americas fa-sm text-success"></i> USA</li>
                                        <li><i class="fas fa-globe-europe fa-sm text-success"></i> Moldova</li>
                                        <li><i class="fas fa-globe-asia fa-sm text-success"></i> China</li>
                                        <li><i class="fas fa-globe-europe fa-sm text-success"></i> Ukraine</li>
                                        <li><i class="fas fa-globe-americas fa-sm text-success"></i> Poland</li>
                                        <li><i class="fas fa-globe-europe fa-sm text-success"></i> Russia</li>
                                        <li><i class="fas fa-globe-asia fa-sm text-success"></i> Romania</li>
                                        <li><i class="fas fa-globe-europe fa-sm text-success"></i> Italy</li>
                                        <li><i class="fas fa-globe-asia fa-sm text-success"></i> Germany</li>
                                        <li><i class="fas fa-globe-europe fa-sm text-success"></i> India</li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/details.js">
</script>

<script>
    function addToCart() {
        var productId = @Model.ProductId;
        var variationId = $('input[name="VariationId"]:checked').val();

        $.ajax({
            type: 'POST',
            url: '/Product/AddToCart',
            data: { productId: productId, variationId: variationId },
            success: function (result) {
                if (result.success) {
                    window.location.href = '/mycart'
                } else {
                    Swal.fire('Error', 'Failed to add the product to the cart.', 'error');
                }
            },
            error: function () {
                Swal.fire('Error', 'An error occurred while adding the product to the cart.', 'error');
            }
        });
    }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
