@model Product

@{
    ViewData["Title"] = "Product Details";
}

<link rel="stylesheet" href="~/css/details.css" />
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4">
                                <img id="main-image" src="data:image/png;base64, @Model.ProductImages.FirstOrDefault()?.Data" width="250" />
                            </div>
                            <div class="thumbnail text-center mt-2">
                                @foreach (var image in Model.ProductImages)
                                {
                                    <img onclick="change_image(this)" src="data:image/png;base64, @image.Data">
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <button class="btn btn-secondary" onclick="goBack()">
                                        <i class="fas fa-arrow-left">
                                        </i>
                                        <span style="margin-left: 5px;">Back</span>
                                    </button>
                                    <script>
                                        function goBack() {
                                            window.history.back();
                                        }
                                    </script>
                                </div>
                                <a href="/cart">
                                    <i class="fa fa-shopping-cart text-muted"></i>
                                </a>
                            </div>
                            <div class="mt-4 mb-3">
                                <span class="text-uppercase text-muted brand">ProductId: @Model.ProductId</span>
                                <h5 class="text-uppercase">@Model.ProductName</h5>
                                <div class="price d-flex flex-row align-items-center">
                                    <p>Price:</p>
                                    <span class="act-price" id="product-price"></span>
                                </div>
                                <div class="d-flex flex-row align-items-center">
                                    <p class="text-secondary">Quantity:</p>
                                    <span class="act-price text-secondary" id="product-quantity"></span>
                                </div>
                                <div class="d-flex flex-row align-items-center">
                                    <p class="text-secondary">Order count:</p>
                                    <span class="act-price text-secondary">@Model.OrderCounts</span>
                                </div>

                                <div class="d-flex flex-row align-items-center mt-2">
                                    <div class="stars d-flex">
                                        @{
                                            byte filledStars = (byte)Math.Floor(Model.AvgStars);
                                            byte remainingHalfStar = (byte)((Model.AvgStars - filledStars >= 0.5m) ? 1 : 0);
                                            byte emptyStars = (byte)(5 - filledStars - remainingHalfStar);
                                        }

                                        @for (byte i = 0; i < filledStars; i++)
                                        {
                                            <i class="fas fa-star text-warning"></i>
                                        }
                                        @if (remainingHalfStar > 0)
                                        {
                                            <i class="fas fa-star-half-alt text-warning"></i>
                                        }
                                        @for (byte i = 0; i < emptyStars; i++)
                                        {
                                            <i class="far fa-star text-warning"></i>
                                        }
                                    </div>
                                    <p class="text-muted fw-bold ms-2">@Model.AvgStars</p>
                                </div>



                            </div>
                            <div class="sizes mt-5">
                                <h6 class="text-uppercase">Variations</h6>
                                @foreach (var variation in Model.ProductVariations)
                                {
                                    <label class="radio mb-1">
                                        <input type="radio" name="VariationId" value="@variation.VariationId" data-price="@variation.price" data-quantity="@variation.quantity" @if (variation == Model.ProductVariations.FirstOrDefault())
                                        {
                                            <text>checked="checked"</text>
                                        }>
                                        <span>@variation.VariationName</span>
                                    </label>
                                }
                            </div>
                            <div class="cart mt-4 align-items-center">
                                <button class="btn btn-danger text-uppercase mr-2 px-4">
                                    <i class="fa fa-shopping-cart text-white"></i>Add to cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card custom-card">
                <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</button>
                    </li>
                </ul>
                <div class="card-body custom-tab-content">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            Some text1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Some text1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Some text1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            Some text 2. Vestibulum in convallis risus. Nullam viverra est sit amet nunc iaculis ullamcorper.
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                            Some text 3. Fusce placerat, ante eu sollicitudin volutpat, libero ligula suscipit urna, ut tincidunt odio augue eu erat.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/details.js">
</script>

