@{
    string category = ViewBag.category;
    string sort = ViewBag.sort;
    string name = ViewBag.name;
    ViewData["Title"] = "Products";
    @model ProductViewModel

}

<form action="/products">
<div class="container" style="margin-top: 50px;">
    <input type="hidden" name="page" value="1" readonly/>
        <div class="input-group mb-3 justify-content-center">
            <input type="text" class="form-control custom-input limited" name="name" placeholder="Search for products..." aria-label="Search" aria-describedby="search-button" value="@ViewBag.name">
            <div class="input-group-append">
                <button class="btn custom-button" type="submit" id="search-button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    
    @if (Model.products.Count() > 0)
    {
        <div class="row pb-2">
            <div class="col-md-9">
                <h3 style="margin-left: 3px;" class="fw-bold text-secondary">Products:</h3>
            </div>
            <div class="col-md-3 d-flex justify-content-md-end justify-content-between flex-nowrap">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#categoryModal">
                    Filters
                    <i class="fas fa-filter"></i>
                </button>
            </div>
        </div>

        <div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-secondary fw-bold" id="categoryModalLabel">Filters</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body modal-scroll">
                        <h5 class="fw-bold text-primary mt-3">Sort by:</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sort" value="none" checked="@((string)ViewBag.sort == "none" ? "checked" : null)" >
                            <label class="form-check-label" for="none">
                                None
                            </label>
                        </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="sort" value="L" checked="@((string)ViewBag.sort == "L" ? "checked" : null)">
                                <label class="form-check-label" for="none">
                                    Price: Low to high
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="sort" value="H" checked="@((string)ViewBag.sort == "H" ? "checked" : null)">
                                <label class="form-check-label" for="none">
                                    Price: High to low
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="sort" value="A-Z" checked="@((string)ViewBag.sort == "A-Z" ? "checked" : null)">
                                <label class="form-check-label" for="none">
                                    Name: A-Z
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="sort" value="Z-A" checked="@((string)ViewBag.sort == "Z-A" ? "checked" : null)">
                                <label class="form-check-label" for="none">
                                    Name: Z-A
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="sort" value="newest" checked="@((string)ViewBag.sort == "newest" ? "checked" : null)">
                                <label class="form-check-label" for="none">
                                    Date: newest
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="sort" value="order" checked="@((string)ViewBag.sort == "order" ? "checked" : null)">
                                <label class="form-check-label" for="none">
                                    Order count
                                </label>
                            </div>
                        <h5 class="fw-bold text-primary mt-3">Category:</h5>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="all" name="category" checked="checked">
                                <label class="form-check-label">
                                    All
                                </label>
                            </div>
                        @foreach (var item in Model.categories.Select(x => x.CategoryName).Distinct())
                        {
                            <div class="form-check">
                                    <input class="form-check-input" type="radio" value="@item" id="@("modalFlexCheckCategory_" + item)" name="category" checked="@(category == item ? "checked" : null)">
                                <label class="form-check-label" for="@("modalFlexCheckCategory_" + item)">
                                    @item
                                </label>
                            </div>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" >Apply filters</button>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="text-center">
            <h1 class="text-secondary fw-bold">Products not found</h1>
        </div>
    }
</form>
    <div class="row">
        @foreach (var product in Model.products)
        {
            <div class="col-6 col-lg-4 col-xl-3">
                <div class="card mb-2">
                    <div class="card__top">
                        <a href="details/@product.ProductId" class="card__image">
                            <img loading="lazy" src="data:image/webp;base64, @product.ProductImages.FirstOrDefault()?.Data" alt="@product.ProductName">
                        </a>
                        @if (product.ProductDate > DateTime.Now.Date.AddDays(-10))
                        {
                            <div class="card__label">new</div>
                        }
                    </div>
                    <div class="card__bottom">
                        <div class="card__prices">
                            <div class="card__price card__price--discount">@product.ProductVariations.FirstOrDefault().price</div>
                        </div>
                        <a href="details/@product.ProductId" class="card__title">
                            <span class="truncate-text">
                                @product.ProductName
                            </span>
                        </a>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <i class="fas fa-star text-warning"></i>
                                <p class="text-secondary fw-bold mt-1 ms-1">@product.AvgStars</p>
                            </div>
                            <p class="text-secondary">@product.OrderCounts orders</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
@if (Model.products.Count() != 0)
{
    <div class="col-12">
        <nav class="text-center" aria-label="Product Pagination">
            <ul class="pagination justify-content-center">

                <li class="page-item @(Model.page == 1 ? "disabled" : "")">
                    <a class="page-link" href="/products?category=@ViewBag.category&sort=@ViewBag.sort&name=@ViewBag.name&page=@(Model.page - 1)">Previous</a>
                </li>

                @for (int i = Math.Max(1, Model.page - 4); i <= Math.Min(Model.totalPages, Model.page + 5); i++)
                {
                    <li class="page-item @(i == Model.page ? "active" : "")">
                        <a class="page-link" href="/products?category=@ViewBag.category&sort=@ViewBag.sort&name=@ViewBag.name&page=@i">@i</a>
                    </li>
                }

                <li class="page-item @(Model.page == Model.totalPages ? "disabled" : "")">
                    <a class="page-link" href="/products?category=@ViewBag.category&sort=@ViewBag.sort&name=@ViewBag.name&page=@(Model.page + 1)">Next</a>
                </li>
            </ul>
        </nav>
    </div>
}